.game {
    width: 600px;
    height: 200px;
    border: 1px solid red;
    margin: auto;
}

#dino{
    width: 50px;
    height: 50px;
    background-image: url(char.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0% {
        top: 70px;
    }
    30% {
        top: 60;
    } 
    50% {
        top: 50px;
    }
    80% {
        top: 60;
    }
    100% {
        top: 70;
    } 
}

#cactus {
    width: 20px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 580px;
    background-image: url(obs_wet_floor.png);
    background-size: 20px 60px;
}

#cloud{
    width: 327px;
    height: 67px;
    position: relative;
    top: 5px;
    left: 500px;
    background-image: url(clouds.png);
    
}

.move_left{
    animation: obs 2s infinite linear;

}
@keyframes obs{
    0%{
        left: 580px;
    }
    100%{
        left: -20px;
    }
}
